.about {
    width: 50%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
}

.about__link {
    color: greenyellow;
}

.about--underline {
    text-decoration: underline greenyellow;
}

.about--border-bottom {
    border-bottom: dashed 1px greenyellow;
}

@media screen and (max-width: 1024px) {
    .about {
        width: 75%;
        line-height: 1.75;
    }
}

@media screen and (max-width: 768px) {
    .about {
        width: 85%;
        line-height: 1.5;
    }
}

@media screen and (max-width: 600px) {
    .about {
        width: 95%;
        line-height: 1.25;
    }
}