.about {
    width: 50%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    line-height: 2;
}

.about--link {
    color: greenyellow;
}

.about--underline {
    text-decoration: underline greenyellow;
}

.about--border-bottom {
    border-bottom: dashed 1px greenyellow;
}