.Main-wrapper {
    padding-top: 400px;
    display: flex;
    position: relative;
    justify-content: center;
    color: honeydew;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.Main-container {
    display: flex;
    width: 80%;
    justify-content: center;
}

.Main-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Sidebar-poster {
    height: 300px;
    width: 200px;
    background-repeat: no-repeat;
    border: 1px solid silver;
    border-radius: 2%;
    position: sticky;
    top: 5rem;
}

.Main-content {
    display: flex;
    flex-direction: column;
}

.Content-wrapper {
    display: flex;
}

.Content-interaction-wrapper {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
}

.Description-tagline {
    text-transform: uppercase;
}

.Content-interaction-toggles {
    display: flex;
    height: 50%;
    background-color: pink;
}

.Content-interaction-rating {

}

.Content-left {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    width: 75%;
}

.Content-right {
    width: 25%;
    background-color: rgba(255, 0, 255, 0.10);
}

.Content-tabs {
    height: 100%;
    width: 100%;
}

.Content-tabs ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.Content-tabs ul li {
    width: 50%;
    margin-right: 0.25rem;
}

.Content-tabs ul li a {
    text-decoration: none;
    color: honeydew;
    background-color: rgba(67, 69, 71, 0.50);
    display: inline-block;
    width: 100%;
    border-radius: 0.25rem;
}

.Active-tab {
    background-color: rgba(67, 69, 71, 0.75);
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.20);
}

.Content-title h1 {
    font-family: serif;
    display: inline;
    margin: 1.5rem;
}

.Content-title span {
    margin-right: 1rem;
}