.controls--spacing {
    justify-content: space-evenly;
    height: 100%;
}

.interaction--toggles {
    justify-content: space-evenly;
    font-size: xx-large;
    padding-bottom: 1rem;
    border-bottom: solid 1px rgb(102, 104, 107);
}

.icon__label--text-size {
    font-size: medium;
}

.icon--container {
    align-items: center;
}

.eye--seen {
    color: cyan;
}

.eye--not-seen {
    color: darkcyan;
}

.eye--not-seen:hover {
    color: cyan;
    cursor: pointer;
}

.eye--seen:hover {
    color: darkcyan;
    cursor: pointer;
}

.heart--liked {
    color: crimson;
}

.heart--unliked {
    color: rgb(140, 15, 40);
}

.heart--unliked:hover {
    color: crimson;
    cursor: pointer;
}

.heart--liked:hover {
    color: rgb(140, 15, 40);
    cursor: pointer;
}