.Interaction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.Interaction-toggles {
    display: flex;
    justify-content: space-evenly;
    font-size: xx-large;
    padding-bottom: 1rem;
    border-bottom: solid 1px rgb(102, 104, 107);
}

.labelText {
    font-size: medium;
}

.Interaction-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seen {
    color: cyan;
}

.notSeen {
    color: darkcyan;
}

.notSeen:hover {
    color: cyan;
    cursor: pointer;
}

.seen:hover {
    color: darkcyan;
    cursor: pointer;
}

.liked {
    color: crimson;
}

.unliked {
    color: rgb(140, 15, 40);
}

.unliked:hover {
    color: crimson;
    cursor: pointer;
}

.liked:hover {
    color: rgb(140, 15, 40);
    cursor: pointer;
}