.Navbar-wrapper {
    height: 75px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.Navbar-container {
    display: flex;
    height: inherit;
    justify-content: center;
    width: 100%;
}

.Navbar-background {
    position: absolute;
    height: 75px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgb(20, 24, 28), rgba(20, 24, 28, 0));
    width: 100%;
}