.navbar--wrapper {
    height: 75px;
    position: sticky;
    top: 0;
    width: 1200px;
    margin: 0 auto;
    z-index: 5;
}

.navbar--container {
    height: inherit;
    justify-content: center;
    width: 100%;
}

.navbar--background {
    position: absolute;
    height: 75px;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgb(20, 24, 28), rgba(20, 24, 28, 0));
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .navbar--wrapper {
        width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .navbar--wrapper {
        width: 675px;
    }
}

@media screen and (max-width: 600px) {
    .navbar--wrapper {
        width: 100%;
    }

    .navbar--background {
        background-image: none;
    }
}