.review__text-area {
    width: 100%;
    height: 10rem;
    box-sizing: border-box;
    resize: none;
    background-color: rgba(67, 69, 71, 0.2);
    color: honeydew;
    border-radius: 0.5rem;
    padding: 1rem;
}

.review__form {
    width: 100%;
}

.review__form--button-container {
    width: inherit;
    justify-content: space-around;
}