.StarHalf svg {
    width: 0.85rem;
}

.StarHalf-saved {
    fill: darkorange;
}

.StarHalf-hover {
    fill: orange;
}

.StarHalf-flipped {
    transform: scaleX(-1);
}

.StarHalf:hover {
    cursor: pointer;
}