.clear {
    font-size: 1.5rem;
    color: rgb(175, 0, 0);
    margin-right: 0.25rem;
}

.clear:hover {
    color: red;
    cursor: pointer;
}

.star-rating--container {
    justify-content: center;
}

.star-rating--saved {
    fill: greenyellow;
}

.star-rating--hovering {
    fill: mediumaquamarine;
}

.disable-pointer-events {
    pointer-events: none;
}