.Tooltip-container {
    position: relative;
    display: inline-block;
    border-radius: 0.5rem;
    text-align: center;
    font-size: smaller;
    margin: 0.15rem 0.15rem;
    height: 25px;
    text-decoration: underline solid rgb(102, 104, 107);
}

.Tooltip-container:hover {
    background-color: rgba(67, 69, 71, 0.50);
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.20);
    cursor: pointer;
}

.Data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
    width: 75%;
    margin: 0 auto;
}