.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(40px, auto);
}

.grid__item {
    font-size: small;
    text-align: center;
    padding-top: 0.5rem;
    text-decoration: underline solid rgb(102, 104, 107);
}

.grid__item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}