.Tooltip-container {
    position: relative;
    display: inline-block;
    width: 150px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: smaller;
    margin: 0.25rem 0.25rem;
}

.Tooltip-container .Tooltip-text {
    display: none;
    position: absolute;
    background-color: lavender;
    text-align: center;
    left: 50%;
    bottom: 100%;
    margin-left: -60%;
    z-index: 1;
}

.Tooltip-container:hover {
    background-color: rgba(67, 69, 71, 0.50);
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.20);
    cursor: pointer;
}

.Data {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}